.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.8rem 2.6rem;
        border-radius: 10rem;
        transition: all .2s;
        //font-size: $default-font-size;
        font-size: 0.8rem;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        transform: translateY(-3px);
        /* box-shadow: 0 1rem 2rem rgba($color-black,.2); */

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        /* box-shadow: 0 .5rem 1rem rgba($color-black,.2); */
    }

    &--blue {
        //background-color: $color-grey-light-1;
        //color: $primary-blue;
        background-color: #850053;
        color: $white;

        &::after {
            //background-color: $color-grey-light-1;
            background-color: #007485;
        }
    }

    a {
        /* background-color: $color-grey-light-1;
        color: $primary-blue; */
        background-color: #850053;
        color: $white;

        &::after {
            /* background-color: $color-grey-light-1; */
            background-color: #850053;
        }
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        /* color: $color-primary; */
        display: inline-block;
        text-decoration: none;
        /* border-bottom: 1px solid $color-primary; */
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        /* color: $color-white; */
        /* box-shadow: 0 1rem 2rem rgba($color-black, .15); */
        transform: translateY(-2px);
    }

    &:active {
        /* box-shadow: 0 .5rem 1rem rgba($color-black, .15); */
        transform: translateY(0);
    }
}

.btn-dropdown {
    position: relative;
    float: right;
    > button {
        outline: none;
        margin: 8px;
    }
}

.btn-link {
    margin-left: 7px;
}

.btn-no-style {
    border: none;
    background: transparent;
}